In [1]:
import ibm_db

In [ ]:
#Replace the placeholder values with the actuals for your Db2 Service Credentials
dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "database"            # e.g. "BLUDB"
dsn_hostname = "hostname"            # e.g.: "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"
dsn_port = "port"                    # e.g. "50000" 
dsn_protocol = "protocol"            # i.e. "TCPIP"
dsn_uid = "username"                 # e.g. "abc12345"
dsn_pwd = "password"                 # e.g. "7dBZ3wWt9XN6$o0J"

In [2]:
dsn_hostname ="dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net"
dsn_uid = "kbc43522"
dsn_pwd = "j-835j03d2sp9p44"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"
dsn_port ="50000"
dsn_protocol = "TCPIP"

In [4]:
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
#Create the dsn connection string
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

try:
    conn = ibm_db.connect(dsn,"","")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)
except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  BLUDB as user:  kbc43522 on host:  dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net

In [5]:
#Let's first drop the table INSTRUCTOR in case it exists from a previous attempt
dropQuery ="drop table INSTRUCTOR"
#Now execute the drop statement
dropStmt = ibm_db.exec_immediate(conn,dropQuery)

In [7]:
#Construct the Create Table DDL statement 
createQuery = "create table INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2))"
#Now fill in the name of the method and execute statement
createStmt = ibm_db.exec_immediate(conn,createQuery)

In [8]:
#Construct the query
insertQuery = "insert into INSTRUCTOR values (1,'Rav','Ahuja','TORONTO','CA')"
#Execute the insert statement
insertStmt = ibm_db.exec_immediate(conn,insertQuery)

In [9]:
insertQuery2 = "insert into INSTRUCTOR values (2,'Raul','Chong','Markham','CA'),(3,'Hima','Vasudevan','Chicago','US')"
insertStmt = ibm_db.exec_immediate(conn,insertQuery2)

In [10]:
#Construct the query that retrieves all rows from the INSTRUCTOR table
selectQuery = "select * from INSTRUCTOR"
#Eexecute the statement
selectStmt = ibm_db.exec_immediate(conn,selectQuery)
#Fetch the Dictionary (for the first row only)
ibm_db.fetch_both(selectStmt)

{'ID': 1,
 0: 1,
 'FNAME': 'Rav',
 1: 'Rav',
 'LNAME': 'Ahuja',
 2: 'Ahuja',
 'CITY': 'TORONTO',
 3: 'TORONTO',
 'CCODE': 'CA',
 4: 'CA'}

In [11]:
#Fetch the rest of the rows and print the ID and FNAME for those rows
while ibm_db.fetch_row(selectStmt) != False:
    print(" ID:", ibm_db.result(selectStmt,0), " FNAME", ibm_db.result(selectStmt,"FNAME"))

 ID: 2  FNAME Raul
 ID: 3  FNAME Hima

In [13]:
updateQuery = "update INSTRUCTOR set CITY='MOOSETOWN' where FNAME='RAV'"
updateStmt = ibm_db.exec_immediate(conn,updateQuery)

In [14]:
import pandas as pd
import ibm_db_dbi

In [15]:
#Connection for pandas
pconn = ibm_db_dbi.Connection(conn)

In [16]:
#query statement to retrieve all rows in INSTRUCTOR table
selectQuery = "select * from INSTRUCTOR"
#retrieve the query results into a pandas dataframe
pdf = pd.read_sql(selectQuery,pconn)
#print just the LNAME for first row in the pandas dataframe
pdf.LNAME[0]

'Ahuja'

In [17]:
#print the entire dataframe
pdf

   ID FNAME      LNAME     CITY CCODE
0   1   Rav      Ahuja  TORONTO    CA
1   2  Raul      Chong  Markham    CA
2   3  Hima  Vasudevan  Chicago    US

In [18]:
pdf.shape

(3, 5)

In [19]:
ibm_db.close(conn)

True